div.surfingkeys_hints_host {
    display: block;
    opacity: 1;
    color-scheme: auto;
}
div.surfingkeys_match_mark {
    background-color: #ff0;
    color: #000;
    opacity: 0.7;
}
div.surfingkeys_selection_mark {
    background-color: #b4d7fe;
    color: #000;
    opacity: 0.7;
}
div.surfingkeys_cursor {
    background-color: #0642CE;
    color: #f0f8ff;
}
div.surfingkeys_cursor:empty {
    padding: 0px 2px;
    min-height: 12px;
}
#sk_clipboard {
    position: fixed;
    z-index: -999;
    top: 0;
    left: 0;
    opacity: 0;
}
#sk_frame {
    position: fixed;
    border: 4px solid #434343;
    box-sizing: border-box;
    z-index: 2147483000;
    background: rgba(202, 202, 202, 0.62);
    color: blue;
    font-size: 16pt;
    font-weight: bold;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
